@import 'tailwindcss';
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: black;
}

.input {
  @apply h-9 rounded-md !border border-slate-300 bg-white !font-bold text-slate-700 !shadow-sm;
}
.input:focus {
  @apply border-gray-400;
  @apply outline-none;
}
.input-title {
  @apply text-sm font-bold text-slate-700;
}
.input:hover {
  @apply bg-gray-50;
}
.lds-ring div {
  --26774109: rgb(111, 132, 146);
  width: 0 !important;
}

.click-animation {
  @apply active:scale-95;
}

/* Remove arrows in Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.table-btn {
  @apply flex h-9 cursor-pointer items-center rounded-md border-slate-100 bg-white px-5 py-2 font-bold text-slate-500 hover:bg-slate-100 dark:border-slate-800 dark:bg-black dark:text-slate-50 dark:hover:bg-slate-800;
}

.theme-btn {
  @apply grid h-9 cursor-pointer place-content-center rounded-md bg-slate-900 px-5 text-center text-slate-50 hover:bg-slate-800;
}
