@import 'tailwindcss';
/* @plugin "daisyui"; */

@plugin "daisyui" {
  themes: light;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  --color-primary: black;
}

.input {
  @apply h-9 rounded-md !border border-slate-300 bg-white !font-bold text-slate-700 !shadow-sm;
}
.input:focus {
  @apply border-gray-400;
  @apply outline-none;
}
.input-title {
  @apply text-sm font-bold text-slate-700;
}
.input:hover {
  @apply bg-gray-50;
}
.lds-ring div {
  --26774109: rgb(111, 132, 146);
  width: 0 !important;
}
